@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-colour: #ffffff;
  --background: #0c0c0c;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-colour);
  background: var(--background);
  font-family: var(--font-SpaceGrotesk);
  min-height: 100vh;
  padding: 0.6rem 2rem;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

/* Remove arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  appearance: none;
}
